version: '3'

services:
  migu_video:
    image: develop767/migu_video
    container_name: migu_video
    restart: always
    network_mode: host
    environment:
      - mport=3566
      - mhost=http://2027.koyeb.app:3566
      - muserId=
      - mtoken=
      # === 节目更新间隔（小时）===
      - mupdateInterval=6
      # === 画质配置 ===
      # 2: 标清  3: 高清  4: 蓝光  7: 原画  9: 4K
      - mrateType=3
      # === 访问保护 ===
      # 访问格式：http://ip:port/mpass/xxx.m3u
      # mpass="your_private_pass"

